/*Set different size if the browser's width is greater than 1500px*/
@media only screen and (min-width: 1500px) {
    #wrapper {
        position: absolute;
        text-align: center;
        width: 50%;
        left: 25%;
        height: 1150px;
    }
}


/*Set different size if the browser's width is greater than 1000px but less than 1500px*/
@media all and (min-width: 1000px) and (max-width: 1500px) {
        #wrapper {
        position: absolute;
        text-align: center;
        width: 60%;
        left: 20%;
        height: 1150px;
    }
}

/*Set different size if the browser's width is greater than 500px but less than  1000px*/
@media all and (min-width: 500px) and (max-width: 1000px) {
        #wrapper {
        position: absolute;
        text-align: center;
        width: 70%;
        left: 15%;
        height: 1150px;
    }
}

/*Set different size if the browser's width is less than  500px*/
@media all and (max-width: 500px) {
        #wrapper {
        position: absolute;
        text-align: center;
        width: 80%;
        left: 10%;
        height: 1150px;
    }
}

body {
    margin-top: 0px;
    background-color: white;
}

#header {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: #0D47A1;
    color: white;
}

#content {
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
    height: 900px;
    background-color: #42A5F5;
    padding-top: 20px;
}

#uploadBtn {
    margin-top: 20px;
}

#progressBar {
    position: relative;
    width: 60%;
    height: 30px;
    align-content: center;
    background-color: #ddd;
    margin: 0 auto;
    margin-top: 20px;
}

#progress {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #0D47A1; 
}

#progressLabel {
    color: white;
}

#footer {
    position: absolute;
    text-align: center;
    top: 1050px;
    width: 100%;
    height: 100px;
    background-color: #42A5F5;
    padding-top: 20px;
    color: white;
}

div.card {
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4),0 30px 60px 0 rgba(0,0,0,0.22)!important;
}